<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${article.titre}">Détail de l'article</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div class="container">
    <header class="header">
        <nav class="nav">
            <a href="/article/all" class="nav-btn">Liste d'Articles</a>
            <a href="/hello/private" class="nav-btn">Accueil</a>
        </nav>
    </header>

    <main>
        <article class="article-detail">
            <h1 th:text="${article.titre}">
                    Titre de l'article
            </h1>
            <div class="article-author">
                <p class="article-author-infos">Par : <strong th:text="${article.auteur}">Auteur</strong></p>
            </div>

            <div class="article-content">
                <div th:text="${article.contenu}">
                    Contenu complet de l'article...
                </div>
            </div>

            <footer class="article-footer">
                <div class="article-actions">
                    <a href="/article/all" class="btn-back">← Retour aux articles</a>
                </div>
            </footer>
        </article>
    </main>
</div>
</body>
</html>