<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Accueil Private</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/common.css}">
    </head>
    <body>
        <header class="header">
        <nav class="nav">
            <a href="/article/all" class="nav-btn">Liste d'Articles</a>
            <a href="/hello/private" class="nav-btn">Accueil</a>
        </nav>
        </header>

        <h2>Private</h2>
        <p>Bienvenue sur ce site moche mais fonctionnel :D</p>

    </body>
</html>