<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Accueil Public</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/common.css}">
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a href="/login" class="nav-btn">Se connecter</a>
                <a href="/register" class="nav-btn">S'inscrire</a>
                <a href="/h2-console" class="nav-btn">Voir BDD H2</a>
            </nav>
        </header>

        <h2>Public</h2>

    </body>
</html>